/*******LAYOUT SECTION********/
*{
    margin: 0px;
    box-sizing: border-box;
}
body{
    margin: 0px;
    color: black;
    font-family: 'Lumanosimo', cursive;
}


/*******HEADER SECTION*********/
header{
    height: 70px;
    object-fit: contain;
    border-bottom: 1px aqua solid;
    display: flex;
    justify-content: space-between;
    margin: 0px 5px;
    align-items: center;
}
.logo{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 175px;
}
.title{
    width: 120px;
    line-height: 1;
}
.up{
    font-size: 10px;
}
.mid{
    font-size: 13px;
    font-weight: 700;
}
.down{
    font-size: 8px;
}
.logo-img{
    width: 40px;
    height: 60px;
}
nav{
    display: flex;
    align-items: center;
}
nav ul{
    display: flex;
    justify-content: space-between;
}
nav ul li{
    list-style-type: none;
    padding: 0px 5px;
}
nav ul li a{
    text-decoration: none;
    color: #000;
}
nav ul li a:hover{
    color: rgb(0, 119, 255);
}
.search input{
    padding: 8px;
    font-size: 16px;
    border: 1px solid grey;
}
.search{
    position: relative;
}
.search img{
    position: absolute;
    top: 5px;
    right: 5px;
}
.search img:hover{
    background-color: #00000070;
    
}
.navbar{
    display: flex;
    font-size: 12px;
    justify-content: space-between;
}
.navbar ul{
    display: flex ;
    align-items: center;
}
.navbar ul li {
    list-style-type: none;
}
.navbar ul li a{
    text-decoration: none;
    color:#000;
}

.group:hover img{
    background-color: aqua;
}
.group:hover a{
    color: aqua;
}
.group{
    display: flex;
    align-items: center;
}
.navbar ul li img{
    padding: 3px;
}

.sign-up{
    background-color: aqua;
    margin: 0px;
    display: flex;
    align-items: center;
}
.sign-up span a{
    color: #fff;
    text-decoration: none;
}
/******BODY SECTION*******/
.main{
    background-image: url(../images/backgroud.jpg);
    height: 500px;
    position: relative;
    padding: 80px;
}
.text{
    position: absolute;
    bottom: 100px;
    line-height: 2;
}
.text hr{
    width: 60px;
    border:2px solid rgb(0, 119, 255);
    
}
.text h2, .text p{
    color: #fff;
}
.text p{
    font-size: 75%;
}
.btn{
    background-color: #fff;
    width: 110px;
    text-align: center;
    padding: 3px 5px;
    color:rgb(0, 174, 255);
}
.btn a{
    color: inherit;
    text-decoration: none;
}
.btn:hover{
    background-color: rgb(0, 153, 255);
    color: #fff;
}

.sub-section1{
    width: 1100px;
    margin: 50px auto;
}
.heading{
    display: flex;
    justify-content: safe;
    width: 900px;
    align-items: baseline;
    color: black;
    margin: 10px 20px;
}
.half a{
    text-decoration: none;
    color: inherit;
    display: flex;
}
.half a:hover{
    text-decoration: underline;
}
.heading .sign{
    background-color: aqua;
    height: 23px;
    padding: 0px 4px;
    font-size: 20px;
    line-height: 1;
}
.card{
    display: flex;
    justify-content: space-between;
    align-items:baseline;
}
.pics{
    width: 350px;
}
.sect{
    height: fit-content;
    margin: 10px 5px;
}
.sect h2{
    font-size: 120%;
}
.main2{
    margin-top: 100px;
    display: flex;
    flex-wrap: wrap;
    padding: 0px;
    justify-content: space-between;
}
.text2{
    background-color: rgb(0, 153, 255);
    padding: 65px 100px;
    margin: 0px;
    line-height: 2;
    width: 70%;
    color: white;
}
.find input{
    height: 40px;
    border-radius: 2px;
    border: solid 0px ;
    background-color: #fff;
    width: 350px;
    padding-left: 10px;
}
.find input::placeholder{
    color: rgba(128, 128, 128, 0.459);
    font-size: 110%;
}
.image{
    width: 29%;
    margin: 0px;
    object-fit: contain;
    background-color: white;
    padding: 0px;
}
.smile{
    width: 100%;
    height: fit-content;
    object-fit: contain;
    margin: 0px;
    margin-bottom: -5px;
}
.find-input{
    padding: 0px;
    margin-top: 3px;
    margin-left: 0px;
}
.find-btn{
    border:0px solid white;
    border-radius: 2px;
    height: 40px;
    margin: 0px;
    font-size: 105%;
    font-weight: 500;
    color: rgb(0, 162, 255);
    margin: 0px;
    padding: 0px 20px;
    margin-bottom: -5px;
    margin-top: 6px;
}
.find-btn:hover{
    background-color: rgb(0, 119, 255);
    color: white;
}
.drop-down{
    display: none;

    visibility: hidden;
}
.sub-section2{
    width: 600px;
    margin: 90px auto;
}
.drop-heading{
    border-bottom: 3px solid rgba(128, 128, 128, 0.192);
    padding: 15px 0px;
    width: 100%;
}
.drop-heading:hover .drop-down{
    display: block;
    width: 100%;
    padding-top: 10px;
    border-top: 3px solid rgba(128, 128, 128, 0.192);
    visibility: visible;
}
.paragraph{
    width: 90%;
    display: inline-block;
}
.icon{
    width: 5%;
    display: inline-block;
}
.sub-section2 h2{
    font-weight: 100;
    font-size: 190%;
}
.sub-section2 button{
    margin: 20px 0px;
    padding: 8px 20px ;
    border:1px solid rgb(0, 119, 255);
    background-color: rgb(0, 119, 255);
    color: #fff;
    font-size: 100%;
    border-radius: 3px;
}
.sub-section2 button:hover{
    background-color: #fff;
    color: rgb(0, 119, 255);
}
.main3{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}
.text3{
    background-color: rgb(0, 153, 255);
    color: #fff;
    padding: 70px 100px;
    width: 70%;
}
.text3 h2{
    width:520px;
    line-height: 1.2;
}
.text3 p{
    margin-top: 20px;
    margin-bottom: 30px;
    line-height: 1.2;
    width:620px;
}
.sub-section3{
    width: 900px;
    font-size: 105%;
    margin: 50px auto;
    text-align: center;
}
.sub-section3 blockquote{
    margin: 50px;
}
blockquote p{
    font-size: 80%;
}
.quote{
    text-align: center;
}
.quote h2{
    margin-top: 70px;
    margin-bottom: 150px;
    font-size: 200%;
    font-weight: 1;
}
.expectation{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    line-height: 1.3;
}
.comments{
    font-size: 80%;
    width: 30%;
}
.comments p{
    color: rgb(0, 162, 255);
    margin-bottom: 8px;
}
.comments h2{
    color: rgb(3, 75, 158);
}
.click{
    border: 1px solid rgb(0, 119, 255);
    background-color: rgb(0, 119, 255);
    color: #fff;
    padding: 8px 20px;
}
.click:hover{
    background-color: #fff;
    color: rgb(0, 119, 255);
}
.main4{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    flex-direction: row-reverse;
    margin: 70px 0px;
}
.text4{
    background-color: rgb(0, 153, 255);
    color: #fff;
    padding: 60px 90px;
    width: 70%;
    text-align: left;
}
.text4 h2{
    margin: 20px 0px;
}
.text4 p{
    margin: 10px 0px;
}
.links{
    display: flex;
    justify-content: center;
}
.link{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: fit-content;
    line-height: 0.1;
}
.link a{
    color: #000;
    text-decoration: none;
}
.link:hover a{
    text-decoration: underline;
    text-decoration-color: rgb(0, 119, 255);
    text-decoration-thickness: 6px;
}
.center-link{
    border-left: 2px solid rgba(0, 162, 255, 0.452);
    border-right: 2px solid rgba(0, 162, 255, 0.452);
    padding: 0px 40px;
}
.icon-link{
    width: 50px;
    margin-bottom: 10px;
}

/********FOOTER SECTION*******/
footer{
    margin: 50px 3px;
    background-color: rgba(156, 153, 153, 0.151);
}
.footer-img{
    width:100%;
}
.footer-heading{
    text-align: center;
    color: #000000c7;
    border-bottom: 10px;
    
}
.footer-heading h2{
    font-weight: 100;
}
.footer-link{
    width: 1000px;
    margin: 20px auto;
}
.footer-links{
    display: flex;
    justify-content: space-between;
}
footer ul li{
    list-style-type: none;
}
footer ul li a{
    text-decoration: none;
    color: #000000c7;
}
footer ul li a:hover{
    text-decoration: underline #000000c7;

}
.footer-links ul p{
    border-bottom: 2px solid rgba(128, 128, 128, 0.466);
    color: rgb(1, 44, 94);
    
}
.flat-link{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 600px;
    margin: 20px auto;
}
.flat-link ol{
    display: flex;
    justify-content: center;
    
}
ol li{
    list-style-type: none;
    margin: 3px 5px;
}
.flat-link ul{
    display: flex;
    margin: 2px;
    border-bottom: #00000034 solid 2px;
}
.flat-link ul li{
    margin: 2px 20px;
}
.last-div{
    text-align: center;
    line-height: 1.5;
    font-size: 80%;
}